@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
:root{
  --dark-heading:#1515BF;
  --light-heading:#3E3ED5;
  --moderate-color:#6A6ADC;
  --dark-background:#8989EB;
  --light-background:#C6C6FB;
  --button-color:#5694FE;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.logo{
  font-family: 'Marcellus SC', serif;
  font-size: 2rem;
  font-weight: bolder;
  /* color: var(--light-heading); */
}
.navbtns button{
  background: var(--button-color);
  padding: 0.6rem 0.6rem;
  /* line-height: 5.5rem; */
  font-stretch: 150%;
  font-weight: 600;
  border-radius: 0.5rem;
  /* opacity: 0.8; */
  color: white;
  letter-spacing: 0.05em;
}
.navbtns button:hover{
  /* opacity: 1; */
  /* filter: brightness(1.2); */
  opacity: 0.8;
}
.nav_box_btns button{
  background: red;
  padding: 0.6rem 0.6rem;
  /* line-height: 5.5rem; */
  font-stretch: 150%;
  font-weight: 600;
  border-radius: 0.5rem;
  opacity: 0.8;
  color: white;
}
.nav_box_btns button:hover{
  opacity: 1;
}
.navbar{
  position: sticky;
  top: 0;
  z-index: 100;
}
.splide__arrows{
  display: inline-flex;
  width: 5rem;
  justify-content: space-between;
}
.splide_arrow{
  align-items: center;
  /* background: #ccc; */
  border: 0;
  /* border-radius: 50%; */
  cursor: pointer;
  display: flex;
  height: 3em;
  justify-content: center;
  opacity: .7;
  position: absolute;
  bottom: -10%;
  /* transform: translateY(-50%); */
  z-index: 1;
  background: var(--dark-heading);
  color: white;
  /* background: wheat; */
  width: 6em;
}
.splide__arrow--next{
  border-radius: 67% 33% 34% 67% / 52% 54% 45% 47% ;
  right: 30% !important;
  left: 55% !important;
}
.splide__arrow--prev{
  border-radius: 27% 73% 73% 27% / 52% 54% 45% 47% ;
  right: 55% !important;
  left: 30% !important;
}
/* .splide__pagination__page{
  background: black;
} */